/*body {
	background-color: pink;
	opacity:0.5;
}*/

a {
	font-size: 1.5em;
}

body {
	background-image: url('../img/day.jpg');
}

#konami {
	display: none;
}

img.project {
	max-height: 170px;
	min-height: 170px;
	min-width: 313px;
	max-width: 313px;
	border: 1px solid black;
}

